@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a INCORP_domus</h1>
    <p>Explora las funcionalidades de nuestro sistema de gestión domótica.</p>
</div>
