@model string

<div class="d-grid gap-2 d-md-block">
    <button id="btnGuardar" type="submit" class="btn btn-light px-5" onfocus="false"> <i class='bx bx-save mr-1'></i>Grabar </button>

    <a href="/Admin/Organizacion/OrganizacionIndex" class="btn btn-light px-5"> <i class='bx bx-block'></i>Cancelar </a>
</div>
