@model string


@* 
    para tomar el parámeto del comando:
    asp-route-id 
    la parte -id, específicamente el id, viene del controlador
    ejemplo: de OrganizacionController, en el método Upsert, se declara el parmámetro id ( Upsert(int? id) ),
    debe ir exactamente el nombre de ese parámetro
*@

<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-light px-5" onfocus="false" accesskey="@Model"> <i class='bx bx-save mr-1'></i> Guardar </button>

    <a href="/Admin/Organizacion/OrganizacionIndex" class="btn btn-light px-5"> <i class='bx bx-arrow-back'></i> Regresar </a>
</div>

