
<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="~/Dashtrans/assets/images/incorpicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="~/Dashtrans/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/input-tags/css/tagsinput.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
	<link href="~/Dashtrans/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />

	<link href="~/DashTrans/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet" />

	<!-- loader-->
	<link href="~/Dashtrans/assets/css/pace.min.css" rel="stylesheet" />
	@* <script src="~/dashtrans/js/pace.min.js"></script> *@

	<!-- Bootstrap CSS -->
	<link href="~/Dashtrans/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Dashtrans/assets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="~/Dashtrans/assets/css/app.css" rel="stylesheet">
	<link href="~/Dashtrans/assets/css/icons.css" rel="stylesheet">

@* 	<link href="~/dashtrans/assets/css/style.css" rel="stylesheet"> *@
	@* 	<link href="~/css/style.css" rel="stylesheet"> *@
	<link href="~/Dashtrans/assets/css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="~/Core/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/INCORP_domus.styles.css" asp-append-version="true" />


	@* modooffline *@
	<!-- DataTables -->
	<link rel="stylesheet" href="~/Core/lib/datatables/datatables.min.css" />
	<!-- Toastr -->
	<link rel="stylesheet" href="~/Core/lib/toastr/toastr.min.css" />
	<!-- Bootstrap Icons -->	
	<link rel="stylesheet" href="~/Core/lib/bootstrap-icons/bootstrap-icons.css" />

	<title>INCORP_domus</title>

	@await RenderSectionAsync("Styles", required: false)
</head>


<body class="bg-theme bg-theme2">
    <!-- JQUERY (ahora va al principio del body) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/Dashtrans/assets/js/jquery.min.js"><\/script>');
    </script>

    <div class="wrapper">
        <partial name="~/Views/Shared/dashtrans/_Header.cshtml" />
        <partial name="~/Views/Shared/dashtrans/_Navigation.cshtml" />
        @RenderBody()
        <partial name="~/Views/Shared/dashtrans/_ToTop.cshtml" />
        <partial name="~/Views/Shared/dashtrans/_PageFooter.cshtml" />
        <partial name="~/Views/Shared/dashtrans/_Switcher.cshtml" />
    </div>

    <!-- CONTENEDOR LOBIBOX -->
    <div class="lobibox-notify-wrapper top right" style="z-index:99999; position: fixed; top: 20px; right: 20px;"></div>

    <!-- BOOTSTRAP -->
    <script src="~/Dashtrans/assets/js/bootstrap.bundle.min.js"></script>

    <!-- CORE DATATABLES -->
    <script src="~/Core/lib/datatables/datatables.min.js"></script>

    <!-- INYECCIÓN DINÁMICA DE EXTENSIONES (como Scroller) -->
    <script>
        (function loadScrollerExtensions() {
            if (window.jQuery && $.fn.dataTable) {
                const script1 = document.createElement('script');
                script1.src = '/Core/lib/datatables-scroller/js/dataTables.scroller.js';
                document.body.appendChild(script1);

                const script2 = document.createElement('script');
                script2.src = '/Core/lib/datatables-scroller/js/scroller.bootstrap4.js';
                document.body.appendChild(script2);
            } else {
                setTimeout(loadScrollerExtensions, 50);
            }
        })();
    </script>

    <!-- PLUGINS DASHTRANS -->
    <script src="~/Dashtrans/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/Dashtrans/assets/plugins/input-tags/js/tagsinput.js"></script>
    <script src="~/Dashtrans/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/Dashtrans/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

    <!-- LIBRERÍAS CORE -->
    <script src="~/Core/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/Core/lib/toastr/toastr.min.js"></script>

    <!-- FANCY FILE UPLOADER -->
    <script src="~/Dashtrans/assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
    <script src="~/Dashtrans/assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
    <script src="~/Dashtrans/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
    <script src="~/Dashtrans/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <script src="~/Dashtrans/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>

    <!-- NOTIFICACIONES -->
    <script src="~/Dashtrans/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/Dashtrans/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/Dashtrans/assets/plugins/notifications/js/notification-custom-script.js"></script>

    <!-- DATATABLE DE TRANSACCIONES -->
    <script>
        $(document).ready(function () {
            const table = $('#Transaction-History');
            if (table.length > 0) {
                table.DataTable({
                    lengthMenu: [[6, 10, 20, -1], [6, 10, 20, 'Todos']]
                });
            }
        });
    </script>

    <!-- POPOVERS & TOOLTIP -->
    <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover();
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>

    <!-- JS GLOBAL DEL SISTEMA -->
    <script src="~/Core/js/site.js" asp-append-version="true"></script>

    <!-- SCRIPTS PERSONALIZADOS POR VISTA -->
    @RenderSection("Scripts", required: false)

    <!-- APP PRINCIPAL (va al final ahora) -->
    <script src="~/Dashtrans/assets/js/app.js"></script>
</body>

</html>


