@using INCORP_domus.Areas.Admin.Configuracion.Controllers

    <!--navigation-->
    <div class="primary-menu">
        <nav class="navbar navbar-expand-lg align-items-center">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header border-bottom">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <img src="~/Dashtrans/assets/images/logo-icon3.png" class="logo-icon" alt="logo icon">
                        </div>
                        <div class="">
                            <h4 class="logo-text">INCORP_domus</h4>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav align-items-center flex-grow-1">

                    <!-- MENU ORGANIZACIÓN -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                            <div class="parent-icon">
                                <i class='bx bx-building'></i>
                            </div>
                            <div class="menu-title d-flex align-items-center">Configuración</div>
                            <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Organizaciones" asp-action="IndexOrganizaciones">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Organizacion" asp-action="OrganizacionIndex"><i class='bx bx-radio-circle-marked'></i>Organizaciones</a></li>
                                </a>
                            </li>

                            <!-- Podés agregar más submódulos aquí -->
                            <!--
                            <li>
                                <a class="dropdown-item" asp-area="Organizacion" asp-controller="Departamentos" asp-action="Index">
                                    <i class='bx bx-radio-circle-marked'></i>Departamentos
                                </a>
                            </li>
                            -->

                        </ul>
                    </li>
                    <!-- FIN MENU ORGANIZACIÓN -->

                    <!-- MENU COMPRAS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                <i class='bx bx-basket'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Compras</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Submenú Pre requisitos -->
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-wrench'></i>Pre requisitos</a>
                                    <ul class="dropdown-menu submenu">                                  
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Bodega" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Bodegas</a></li>
                                        <li><a class="dropdown-item" href="auth-basic-signup.html"><i class='bx bx-radio-circle-marked'></i>Líneas</a></li>
                                        <li><a class="dropdown-item" href="auth-basic-forgot-password.html"><i class='bx bx-radio-circle-marked'></i>Grupos</a></li>
                                        @* <li><a class="dropdown-item" href="auth-basic-reset-password.html"><i class='bx bx-radio-circle-marked'></i>Categorías</a></li> *@
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Categoria" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Categorías</a></li>
                                        <li><a class="dropdown-item" href="auth-basic-reset-password.html"><i class='bx bx-radio-circle-marked'></i>Marcas</a></li>
                                    </ul>
                                </li>
                                <!-- FIN Submenú Pre requisitos -->

                                    <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-user-rectangle'></i>Proveedores</a></li>
                                    <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Bodega de Materia Prima</a></li>
                                    <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-component'></i>Bodega de Insumos</a></li>
                                    <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-archive-in'></i>Bodega de Repuestos</a></li>
                                <li><a class="dropdown-item" href="index2.html"><i class='bx bx-folder-plus'></i>Otras Bodegas</a></li>
                            </ul>
                        </li>
                        <!-- FIN MENU COMPRAS -->

                        <!-- MENU VENTAS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='bx bx-cube'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Ventas</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                        <ul class="dropdown-menu">

                            <!-- Submenú Pre registros -->
                            <li class="nav-item dropend">
                                <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-wrench'></i>Pre registros</a>
                                <ul class="dropdown-menu submenu">
                                    @* <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Colores Generales</a></li>                                     *@
                                </ul>
                            </li>
                            <!-- FIN Submenú Pre registros -->

                            <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-user-rectangle'></i>Clientes / Vendedores</a></li>
                            <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Bodega de Productos</a></li>

                            <!-- Submenú Documentos de Venta -->
                            <li class="nav-item dropend">
                                <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-cart'></i>Documentos de Venta</a>
                                <ul class="dropdown-menu submenu">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ProductosV" asp-action="IndexPg"><i class='bx bx-radio-circle-marked'></i>Listado de Productos</a></li>

                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Proformas</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Pedidos</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Facturas</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Guías de Remisión</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Devoluciones</a></li>
                                </ul>
                            </li>
                            <!-- FIN Submenú Documentos de Venta -->
                            <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Cartera</a></li>
                            <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Reportes</a></li>
                        </ul>
                        </li>
                        <!-- FIN MENU VENTAS -->

                        <!-- MENU DISENO -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='bx bx-lock'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Diseno</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Submenú Pre registros -->
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-wrench'></i>Pre registros</a>
                                    <ul class="dropdown-menu submenu">                                        
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="ColorGeneral" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Colores Generales</a></li>                                        
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Colores" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Colores Específicos</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Generos" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Géneros</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Categorias" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Categorías</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Marcas" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Marcas</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Lineas" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Líneas</a></li>                                        
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Unidades" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Unidades</a></li>                                        
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Tipos" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Tipos</a></li>                                        
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Subtipos" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Subtipos</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Productos" asp-action="Index"><i class='bx bx-radio-circle-marked'></i>Productos</a></li>                                    
                                    </ul>
                                </li>
                            <!-- FIN Submenú Pre registros -->

                                <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-user-rectangle'></i>Fichaje Técnico</a></li>
                                <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Planificación</a></li>
                                <li><a class="dropdown-item" href="index2.html"><i class='bx bxs-layer'></i>Datos y Reportes</a></li>
                            </ul>
                        </li>
                        <!-- FIN MENU DISENO -->

                        <!-- MENU PLANIFICACION -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='bx bx-message-square-edit'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Planificación</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="form-elements.html"><i class='bx bx-message-square-dots'></i>Orden de Requerimiento</a></li>
                                <li><a class="dropdown-item" href="form-input-group.html"><i class='bx bx-book-content'></i>Solicitud de Compra</a></li>
                                <li><a class="dropdown-item" href="form-radios-and-checkboxes.html"><i class='bx bx-radio-circle-marked'></i>Planificación de Corte</a></li>
                                <li><a class="dropdown-item" href="form-layouts.html"><i class='bx bx-layer'></i>Reportes</a></li>
                            </ul>
                        </li>
                        <!-- FIN MENU PLANIFICACION -->

                        <!-- MENU PRODUCCION -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='bx bx-briefcase-alt'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Producción</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="widgets.html"><i class='bx bx-wine'></i>Widgets</a></li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-cart'></i>eCommerce</a>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="ecommerce-products.html"><i class='bx bx-radio-circle'></i>Products</a></li>
                                        <li><a class="dropdown-item" href="ecommerce-products-details.html"><i class='bx bx-radio-circle'></i>Product Details</a></li>
                                        <li><a class="dropdown-item" href="ecommerce-add-new-products.html"><i class='bx bx-radio-circle'></i>Add New Products</a></li>
                                        <li><a class="dropdown-item" href="ecommerce-orders.html"><i class='bx bx-radio-circle'></i>Orders</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-ghost'></i>Components</a>
                                    <ul class="dropdown-menu scroll-menu">
                                        <li><a class="dropdown-item" href="component-alerts.html"><i class='bx bx-radio-circle'></i>Alerts</a></li>
                                        <li><a class="dropdown-item" href="component-accordions.html"><i class='bx bx-radio-circle'></i>Accordions</a></li>
                                        <li><a class="dropdown-item" href="component-badges.html"><i class='bx bx-radio-circle'></i>Badges</a></li>
                                        <li><a class="dropdown-item" href="component-buttons.html"><i class='bx bx-radio-circle'></i>Buttons</a></li>
                                        <li><a class="dropdown-item" href="component-cards.html"><i class='bx bx-radio-circle'></i>Cards</a></li>
                                        <li><a class="dropdown-item" href="component-carousels.html"><i class='bx bx-radio-circle'></i>Carousels</a></li>
                                        <li><a class="dropdown-item" href="component-list-groups.html"><i class='bx bx-radio-circle'></i>List Groups</a></li>
                                        <li><a class="dropdown-item" href="component-media-object.html"><i class='bx bx-radio-circle'></i>Media Objects</a></li>
                                        <li><a class="dropdown-item" href="component-modals.html"><i class='bx bx-radio-circle'></i>Modals</a></li>
                                        <li><a class="dropdown-item" href="component-navs-tabs.html"><i class='bx bx-radio-circle'></i>Navs & Tabs</a></li>
                                        <li><a class="dropdown-item" href="component-navbar.html"><i class='bx bx-radio-circle'></i>Navbar</a></li>
                                        <li><a class="dropdown-item" href="component-paginations.html"><i class='bx bx-radio-circle'></i>Pagination</a></li>
                                        <li><a class="dropdown-item" href="component-popovers-tooltips.html"><i class='bx bx-radio-circle'></i>Popovers & Tooltips</a></li>
                                        <li><a class="dropdown-item" href="component-progress-bars.html"><i class='bx bx-radio-circle'></i>Progress</a></li>
                                        <li><a class="dropdown-item" href="component-spinners.html"><i class='bx bx-radio-circle'></i>Spinners</a></li>
                                        <li><a class="dropdown-item" href="component-notifications.html"><i class='bx bx-radio-circle'></i>Notifications</a></li>
                                        <li><a class="dropdown-item" href="component-avtars-chips.html"><i class='bx bx-radio-circle'></i>Avatrs & Chips</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-card'></i>Content</a>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="content-grid-system.html"><i class='bx bx-radio-circle'></i>Grid System</a></li>
                                        <li><a class="dropdown-item" href="content-typography.html"><i class='bx bx-radio-circle'></i>Typography</a></li>
                                        <li><a class="dropdown-item" href="content-text-utilities.html"><i class='bx bx-radio-circle'></i>Text Utilities</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-droplet'></i>Icons</a>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="icons-line-icons.html"><i class='bx bx-radio-circle'></i>Line Icons</a></li>
                                        <li><a class="dropdown-item" href="icons-boxicons.html"><i class='bx bx-radio-circle'></i>Boxicons</a></li>
                                        <li><a class="dropdown-item" href="icons-feather-icons.html"><i class='bx bx-radio-circle'></i>Feather Icons</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- FIN MENU PRODUCCION -->

                        <!-- MENU CONTABILIDAD -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='bx bx-line-chart'></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Contabilidad</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="charts-apex-chart.html"><i class='bx bx-bar-chart-alt-2'></i>Apex</a></li>
                                <li><a class="dropdown-item" href="charts-chartjs.html"><i class='bx bx-line-chart'></i>Chartjs</a></li>
                                <li><a class="dropdown-item" href="charts-highcharts.html"><i class='bx bx-pie-chart-alt'></i>HighCharts</a></li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"><i class='bx bx-map-pin'></i>Maps</a>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="map-google-maps.html"><i class='bx bx-radio-circle'></i>Google Maps</a></li>
                                        <li><a class="dropdown-item" href="map-vector-maps.html"><i class='bx bx-radio-circle'></i>Vector Maps</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- FIN MENU CONTABILIDAD -->

                        <!-- MENU NOMINA -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class="bx bx-grid-alt"></i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Nómina</div>
                                <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="table-basic-table.html"><i class='bx bx-table'></i>Basic Table</a></li>
                                <li><a class="dropdown-item" href="table-datatable.html"><i class='bx bx-data'></i>Data Table</a></li>
                            </ul>
                        </li>
                        <!-- FIN MENU NOMINA -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--end navigation-->
